@model ps206415_MIS4200.Models.Enrollment

@{
    ViewBag.Title = "Enrollment Details";
}

<h2>Details</h2>

<div>
    <h4>Enrollment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Course.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.studentLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.studentLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.grade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.grade)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.enrollmentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
