@model IEnumerable<ps206415_MIS4200.Models.Enrollment>

@{
    ViewBag.Title = "Student Enrollments";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Course.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.studentLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.grade)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Course.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.studentLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.grade)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.enrollmentID }) |
            @Html.ActionLink("Details", "Details", new { id=item.enrollmentID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.enrollmentID })
        </td>
    </tr>
}

</table>
